.check_in_section #entry-grid_wrapper input[type="checkbox"] {
	display: none;
}
.check_in_section #searchDiv {
	margin-bottom: 40px;
}

.check_in_section #entry-grid_filter {
	display: none;
}

.check_in_section #entry-grid_length {
	display: none;
}

.check_in_section #entry-grid_info {
	display: none;
}

.check_in_section #entry-grid_paginate {
	display: none;
}

.check_in_section {
	border: 1px solid #e4e4e4;
}

.check_in_section  table thead tr {
	background-color: #00A8B3;
	color:#fff;
}

.check_in_validator_cls {
	color: red;
	display: inline-block;
	padding-left: 10px;
	padding-top: 4px;
}

.warp_new_main {
	width: 100%;
	float: left;
}

.warp_new_left {
	width: 28%;
	float: left;
}

.warp_new_right {
	width: 72%;
	float: left;
}

.warp_new_in {
	width: 100%;
	float: left;
}

.form_main_div {
	width: 79%;
	margin: auto;
}

.check_in_label {
	color: #000;
	font-weight: bold;
	padding: 0px 0px 0px 100px;
	margin-left: -6px;
	padding-top: 3px;
}

.label_section {
	width: 30%;
	text-align: right;
	margin-right: 10px;
	float: left;
	margin-top: 10px;
	display: inline-block;
}


.input_section {
	float: left;
	/* width: 60%;
 */
	padding: 5px 0px;
	display: inline-block;
}

.combo_section {
	/* margin-top: 5px;
margin-bottom: 10px; */
	
}

.pms_ation_search_btn {
	background-color: #06F;
	border: medium none;
	border-radius: 4px;
	height: 29px;
	width: 73px;
}

.edit-table td {
	padding: 10px;
}

.edit-table {
	width: 100%;
	/* border: 1px solid #000; */
}

.edit-table th {
	text-align: center;
	color: #fff;
	background-color: #00A8B3;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}

.edit-table, .edit-table th, .edit-table td {
	border: 1px solid #DEDBDB;
	border-top: none;
	border-collapse: collapse;
}

.edit-table td {
	height: 38px;
	font-size: 14px;
}

.edit-table th {
	height: 33px;
}

.edit-col-1 {
	width: 116px;
}

.edit-col-2 {
	width: 168px;
}

.edit-col-3 {
	width: 178px;
}

.edit-col-4 {
	width: 318px;
}

.edit-col-5 {
	width: 156px;
}

.edit-col-6 {
	width: 82px;
}

.edit-col-1-1 {
	width: 44px
}

.edit-col-1-2 {
	width: 132px
}

.c_head_row_col_1, .c_head_row_col_2, .c_head_row_col_3,
	.c_head_row_col_5 {
	width: 16%;
	float: left;
	border: 1px solid green;
}

.c_head_row_col_4 {
	width: 30%;
	float: left;
}

.c_head_row_col_6, .c_body_row_head_row_col_6 {
	width: 4%;
	float: left;
	min-width: 4%;
}

.c_head_row>div {
	border: 1px solid #808080;
	height: 35px;
	background-color: #CDCDCD;
	color: #000000;
	padding-top: 6px;
	font-weight: bold;
	text-align: center;
}

.c_body_row_head_row_col_1, .c_body_row_head_row_col_2,
	.c_body_row_head_row_col_3, .c_body_row_head_row_col_5 {
	width: 16%;
	float: left;
}

.c_body_row_head_row_col_4 {
	width: 30%;
	float: left;
}

.c_body_row_head_row_col_1_1 {
	width: 25%;
	float: left;
	border-right: 1px solid #808080;
	height: 35px;
	margin-top: -7px;
	font-weight: bold;
	background-size: 28px 29px;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: center center;
	cursor: pointer;
}

.c_body_row_head_row_col_1_2 {
	width: 6%;
	float: left;
	min-width: 4%;
	margin-left: 2px;
}

.c_body_row_head_row>div {
	height: 35px;
	text-align: center;
	padding-top: 7px;
	color: #000;
	background-color: #F5F5F5;
	margin-top: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080 #808080 #808080 #FFF;
}

div.c_body_row_head_row_col_1 {
	border-left: 1px solid #808080;
}

.c_body_row_head_row {
	clear: both;
}

.c_body_row_body {
	width: 99%;
}

.panel_body_style {
	background-color: #F6F6F6;
}

.c_body_row_body_row {
	clear: both;
	margin: auto;
	width: 91.6%;
}

.combo_section {
	display: inline-block;
	width: 100%;
	margin-left: -80px;
}


.opt_butn {
	background-image: url("../images/double-arrow-down.svg");
	color: #FFF;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 0;
	background-position: center center;
	padding-top: 2px;
}

.hide_btun {
	background-image: url("../images/double-arrow-up.svg");
}

.c_body_row_head_row_col_6 {
	font-weight: bold;
	background-size: 28px 29px;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: center center;
	cursor: pointer;
}

.marked_checkbox {
	background-image: url("../images/checkbox-marked.svg");
}

.blank_checkbox {
	background-image: url("../images/checkbox-blank.svg");
}

.accordian:HOVER {
	background-color: #E2E2E2;
}

/* common */
.s_label {
	color: #000;
	font-weight: bold;
	width: 120px;
	display: inline-block;
}

.s_data {
	color: #048ABB;
	font-weight: bold;
	width: auto;
	display: inline-block;
}

.s_section {
	padding: 5px 0px;
	margin-left: 25px;
}

.colon_style {
	float: right;
	padding-right: 10px;
}

.s_imp_field {
	font-size: 14px;
	font-style: normal;
}

.s_status_style {
	padding: 1px 3px;
	border: 1px solid #000000;
	border-radius: 4px;
}

.confirmed_style {
	background-color: #189A05;
	color: #ffffff;
}

.unconfirmed_style {
	background-color: #ffff00;
	color: #444444;
}

.p_checkIn_style {
	background-color: #BB71DB;
	color: #ffffff;
}

.acc_status_style {
	padding: 1px 3px;
	/* border: 1px solid #000; */
	border-radius: 4px;
	width: 100%;
	/* font-weight: bold; */
	height: 24px;
	line-height: 20px;
	margin: auto;
	text-align: center;
}

.edit_btn {
	background-color: orange;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 27px;
	width: 90%;
	border: 0px;
	margin: auto;
	margin-top: -3px;
	cursor: pointer;
}

.checkin_btn {
	background-color: #0066FF;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 30px;
	width: 127px;
	border: 0px;
}

.btn_section {
	text-align: right;
}

.inner_content .content_wrapper.inner_content_wrapper {
	overflow-y: scroll;
}

.rate_link {
	color: #1a8cff;
	text-decoration: underline;
	cursor: pointer;
}

.disable_check {
	opacity: .3;
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity = 30);
}

.change_btn_style {
	background-color: #0D7F05;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 25px;
	width: 74px;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0.7;
	font: bold 1em Tahoma, Arial, Helvetica, FreeSans, sans-serif;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
	cursor: pointer;
}

.clear_room {
	float: left;
	height: 35px;
	font-weight: bold;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: center center;
}

.clear_room_img {
	background-image: url("../images/clear-button.svg");
	width: 28px;
	margin-right: 2px;
	margin-top: 1px;
	cursor: pointer;
	opacity: 0.7;
}

.clear_room_img:HOVER, .change_btn_style:HOVER {
	opacity: 1;
}

.extra_width {
	width: 340px;
}

.chkin-dtl {
	border-radius: 8px;
	padding: 1%;
}

/* summary section start */
@media ( max-width : 992px) {
	.c-header {
		border-bottom-left-radius: 0 !important;
		border-top-right-radius: 4px;
		text-align: center !important;
	}
	.c-body {
		border-bottom-left-radius: 4px;
		border-top-right-radius: 0 !important;
		text-align: center;
	}
}

.c-dtls {
	margin: auto;
	width: 100%;
}

.c-header {
	border: 1px solid #6ccac9;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 30px;
	color: #fff;
	background-color: #6ccac9;
	text-align: right;
	font-size: 15px;
	line-height: 25px;
}

.c-body {
	border: 1px solid #6ccac9;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 30px;
	font-size: 15px;
	margin-bottom: 14px;
	line-height: 25px;
}

.c-dtls th {
	background-clip: padding-box;
	border-radius: 24px;
	/* background-color: #369; */
	background-color: #2196F3;
	color: white;
	border: 5px solid white;
	height: 38px;
	text-align: center;
	width: 20%;
	font-size: 15px;
}

.c-dtls td {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

/* summary section end */
.assgn_disabled {
	display: none;
}

.asgn_topdiv_dim {
	height: 103px;
	border-radius: 3px;
	background-color: #4C4C4C;
	position: relative;
	opacity: 0.5;
}

.asgn_topdiv {
	position: absolute;
	left: 30%;
	top: 40%;
}

.div_room_assgn.left_main_div_lft_label {
	border-bottom: 1px solid #2196F3;
	min-height: 80px;
	border-radius: 0 0 5px 5px;
}

.modal-footer .btn-default {
	float: none;
}

.align-right {
	text-align: right;
}

.detail_card {
	margin-bottom: 20px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #9E9E9E;
}

.dtl_label {
	font-size: 12px;
	padding-left: 0px;
	color: #9e9e9e;
}

.resv-txt {
	padding: 4px 10px;
	margin-bottom: 5px;
	word-wrap:break-word;
}
.dtlHdr{
    color: #fff;
    font-size: 16px;
    padding: 1px 9px;
    background: rgb(72, 137, 193);
}
.md-datepicker-input-mask{
	display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.detail_card.col-md-6 {
    min-height: 152px;
}


