#entry-grid_wrapper input[type="checkbox"] {
	display: block;
}

#searchDiv {
	margin-bottom: 40px;
}

#entry-grid_filter {
	display: none;
}

#entry-grid_length {
	display: none;
}

#entry-grid_info {
	display: none;
}

#entry-grid_paginate {
	display: none;
}

#destinationDiv {
	margin-top: 21px;
	border-top: 1px solid #9e9e9e;
	padding: 11px 0 0 0;
}

.dataTable thead tr {
	height: 40px;
}

.roomHdr {
	font-size: 25px;
	padding-left: 5px;
}

.userDtls {
	width: 90%;
	padding: 8px;
	margin-bottom: 3px;
	background-color: #ececec;
}

.userDtls i {
	color: #00a8b3;
	padding-right: 10px;
}

#noShowmyModal .popUpRightPanel .panel-heading {
	padding: 7px 10px;
}

#expCheckoutmyModal .popUpRightPanel .panel-heading {
	padding: 7px 10px;
}

#expCheckoutmyModal .modalInnerDiv {
	padding-left: 0px;
	padding-right: 0px;
}

#noShowmyModal .modalInnerDiv {
	padding-left: 0px;
	padding-right: 0px;
}

#noShowmyModal .modal-body {
	padding: 15px 5px;
}

#expCheckoutmyModal .modal-body {
	padding: 15px 5px;
}

.roomList {
	width: 100%;
	float: left;
	border: 1px solid #ccc;
	padding: 5px 0px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.roomList .innerDiv {
	float: left;
	padding-bottom: 8px;
}

.inhslbl span {
	font-size: 12px;
	color: #9e9e9e;
	padding-left: 5px;
}

.inhsdata {
	font-size: 14px;
	padding-left: 5px;
}

.rateDtlsDiv {
	padding: 5% 0 0 2%;
}

.md-theme-light {
	min-height: 25px;
}

.rateDiv .md-toolbar-tools {
	height: 25px;
	font-size: 14px;
}

.rateDiv .md-2-line {
	min-height: 40px;
}

#postingDisplayDiv .md-theme-light {
	min-height: 40px;
	background-color: rgb(43, 104, 156);
}

#postingDisplayDiv .md-theme-light .md-toolbar-tools {
	max-height: 40px;
}

.chk {
	float: right;
	padding-top: 2%;
}

#postingDisplayDiv .md-hue-3 {
	min-height: 30px;
	background-color: rgb(121, 124, 142);
	color: #fff;
}

#postingDisplayDiv .subToolBar {
	height: 25px;
	font-size: 14px;
}

.postContents {
	margin-top: 5px;
}

.oldHDatePanel .panel-heading {
	background-color: #39b7ac;
	border-color: #39b7ac;
}
.chkAccpetHotelDate{
	float: right;
}
.postings {
    padding: 4px 15px;
    border-bottom: solid 2px #dfdfdf;
        margin: 3px 0px;
}
.rateDiv {
    padding: 5px 0;
}
.newbox {
    margin-left: 30px !important;
    width: 23px;
    height: 19px;
}
.header{
	position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1002 !important;
}
html{
	overflow: hidden !important;
}
body {
    position: inherit !important;
    top: 0 !important;
}
body .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}


body .dataTables_wrapper.no-footer .dataTables_scrollBody table {
    border-bottom: 0 none;
    border-right: 0 none;
    border-left: 0 none;
}
/* .summury .col-md-12.s-header {
    background: transparent;
    border: 0 none;
    color: #000;
    float: left;
    width: auto;
}

.summury .dtls .s-body {
    border: 0 none;
    width: auto;
    float: left;
    font-weight: bold;
    font-size: 22px;
} */

/* body .dataTables_wrapper.no-footer .dataTables_scrollBody {
width: 101% !important;
} */