.canStatus{
    background-color: #6B9B66;
    color: white;
    text-align: left;
    border-radius: 4px;
	float: left;
	font-weight: bold;
	height: 32px;
	padding: 7px 0px;
	width: 135px;
}
.resv-lbl {
    font-size: 12px;
    padding-left: 4px;
    color: #9E9E9E;
}
.resv-txt {
    padding: 4px;
    margin-bottom: 5px;
}
.canStatus2{
	background-color: #FF0;
}
.s-body-canConfirm, .s-body-1 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    height: 30px;
    line-height: 25px;
    font-size: 14px;
}
.s-body-canUnConfirm, .s-body-1 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    height: 30px;
    line-height: 25px;
    font-size: 14px;
}
/* .canStatus2{
   background-color: #FF0;
	color: #444;
    text-align: left;
    border-radius: 4px;
	float: left;
	font-weight: bold;
	height: 32px;
	padding: 7px 0px;
	width: 135px;
} */
.cancel-row{
	margin-top:15px;
}
.panel_cancel {
	margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin-top: 10px;
  border-color: #6195C1;
  clear: both;
  overflow: hidden;
}
.pms_cancelPanel_heading {
  padding: 2px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  font-weight: bold;
  background-color: #048abb;
  border-color: #048abb;
  font-size: 14px;
}
.pms_text.cancel_long_text {
margin-left: -124px;
 width: 420px;
  margin-bottom: 3px;
}
.pms_text.super_long_text {
 width: 500px;
  margin-bottom: 3px;
}
.medium_text.pms_text {
   margin-left: -124px;
  width: 295px;
  margin-bottom: 3px;
}
.reser_cancel_txtarea{
	  margin-top: 2px;
	margin-left:191px;
}
.reservation_label_div {
  height: 12%;
 
}
.short_second_text.pms_text{
  margin-top:4px;
  width: 253px;
  margin-bottom: 3px;
  border: 1px solid rgba(206, 168, 168, 0.42);
  border-radius: 5px;
  }
  
  .can_reason{
    margin-left: 117px;
 /*  margin-top: -16px; */
  }
.short_text.pms_text {
  margin-top:4px;
  margin-left: 1px;
  width: 200px;
  margin-bottom: 3px;
   border: 1px solid rgba(206, 168, 168, 0.42);
   border-radius: 5px;
}
.warp_new_in_cancel {
  width: 100%;
  float: left;
}
.reservation_label_div_cancel {
  height: 30px;
}
.warp_new_in_sub_div_cancel {
  height: 28px;
  margin-top: 3px;
}
 /* css ranjith */
.s_label {
	color: #000;
font-weight: bold;
width: 120px;
/* background-color: aquamarine; */
display: inline-block;
}

.s_data {
	color: #048ABB;
    font-weight: bold;
     width: auto;
    display: inline-block;
}

.s_section {
	padding: 5px 0px;
	margin-left: 25px;
}


.colon_style{
	float: right;
	padding-right: 10px;
}

.s_imp_field{
   font-size: 14px;
   font-style: normal;
}

.confirmed_style{	
/* background-color: #189A05; */
/* color: white; */
padding: 1px;
border-radius: 4px;
}

.reservation_prev_btn{
	margin-left: 750px;
    margin-top: 18px;
	background-color:#0066FF;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	height: 30px;
    width: 127px;
    border:0px;
}

.reservation_next_btn{
	background-color:#0066FF;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	height: 30px;
    width: 136px;
    border:0px;
}

.btn_section {
    text-align: right;
}
.status{
	text-align: center;
}
.reservation_label_cancel {
  color: #000;
  font-weight: bold;
  margin-left: -393px;
  padding-top: 3px;
}
.pms_text {
  margin-left: 1px;
  float: left;
  font-size: 14px;
  padding: 5px;
  vertical-align: top;
  width: 200px;
}
.cancel_name_date {
    color: #000;
    font-weight: bold;
    margin-left: -649px;
    padding-top: 3px;
}
.label_details{
	font-size:14px;
	font-weight:300;
}
.test{
	margin-left:10px;
}
.test1{
	margin-left:5px;
}
.parentTable1{
	width: 100%;
/* margin-left: 100px; */
}
.leftside_of_confirm1{
	width:15%;
}
.cancel_table{
	width:100%;
}
.first_column{
	width:20%;
}
.second_column{
	width:20%;
}
.third_column{
	width:30px;
}
.parent_row{
	height:5%;
}
.text_area_setup{
	border:1px solid #C1C1C3;
	width:325px;
	border-radius:5px;
}
.form-control-cancel {
    display: block;
    width: 93%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.availRatePlans {
	background-color:#00A8B3;
	color: #fff;
	font-weight: 600 !important;
	float: left;
    width: 100%;
}

.ratePlanSubHdr {
	background: #00A8B3;
	color: #fff;
	font-weight: 600 !important;
	margin-top: 5px !important;
	float: left;
	width: 100%;
}
.guest_box {
	float: left;
	width: 100%;
	margin: 5px 0px;
	padding: 10px 0px;
	box-shadow: 1px 2px 10px #9e9e9e;
}

.reason_input {
	padding: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}

.deposit{
	margin-top:10px !important;
}

p.depositpenal{
margin-top: 10px !important;
padding-left: 6px !important;	
}

#resonComn{
	width:17% ! important;
}

#checkValid{
	padding-top:26px !important
}