.resvDateDiv .panel-primary .panel-heading .panel-title {
	color: #fff;
}

.userDtls {
	padding-top: 5px;
}

.userDtls i {
	color: #39b7ac;
}

.mainDiv .roomDtls {
	margin-top: 10px;
	padding-left: 20px;
}

.roomDtls .rdhdr {
	font-size: 12px;
	color: #9e9e9e;
}

.roomDtls .rddtl {
	padding-left: 5px;
	font-size: 16px;
}

.roomDtls .row {
	padding-bottom: 6px;
}

.resvContent {
	padding-bottom: 2%;
}

.resvContent .panel-heading {
	background-color: rgb(72, 137, 193);
	border-color: rgb(72, 137, 193);
}

.roomDtls .panel-heading {
	background-color: rgb(72, 137, 193);
	border-color: rgb(72, 137, 193);
}

.roomDtls .panel-heading .panel-title {
	color: #fff;
}
.datePanels .panel-heading .panel-title {
	color: #fff;
}
.md-theme-light {
	min-height: 30px;
}

.mainDiv .md-theme-light {
	min-height: 30px;
	background-color: rgb(43, 104, 156);
}

.mainDiv .md-theme-light .md-toolbar-tools {
	max-height: 30px;
}

.mainDiv .mainContent {
	padding-top: 10px;
}

.menuBtns {
	float: right;
	padding-top: 5px;
}

.btn-changedate {
	background-image:
		url("../resources/common/components/reception_reservation_card/images/change_date.svg");
}

md-list-item.bottomList{
min-height: 50px;	
}
.bottomMenu .menuButtons {
	background-color: #337ab7;
	border-color: #337ab7;
}
.bottomMenu .menuButtons[disabled] {	
    background-color: #a9a9a9;
    border-color: #a9a9a9;
}
.bottomMenu .btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.bottomMenu .btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.bottomMenu .btn {
	margin-bottom: 10px;
}
.dateDtls{
	padding-top: 12px;
}
.dtlsInp{
	padding:5px;
}
a.hotelDate {
    color: #FF6C60;
    font-weight: bold;
    padding-top: 8px;
    float: left;
}

.btnbackshift .backshift{
	display: block !important;
}
#card_content_main_div .txt-stat {
    font-weight: normal;
}
#card_content_main_div .resv-lbl {
    padding-top: 10px;
}
.shiftal{
	margin-top:5px !important;
}
.checkValid{
	padding-top:10px;
}
.close_btn_div{
	text-align: center;
}