body{
	background-color : black;
}

.verticalnav{
    padding : 10px;
    background-color: grey;
    color : black;
    height: 87vh;
    width : 100%;
    border : 2px solid black;
}

.datatable{
	padding : 10px;
	background-color : white;
	padding-right : 10px;
}

.tdwidth{
	width : 200px;
}

.default{
	position : relative;
	height : 550px;
	padding : 2px;
}

.display{
	display : none;
	height : 500px;
	overflow : auto;
}

#btnrefresh{
	position : absolute;
	top : 10px;
	right : 40px;
	margin-right : 40px;
}

.linkcolor{
	color: black;
}




